span.round-0 {
    background: silver;
    border-radius: 2.8em;
    -moz-border-radius: 2.8em;
    -webkit-border-radius: 2.8em;
    color: #ffffff;
    display: inline-block;
    font-weight: bold;
    line-height: 2.6em;
    margin-right: 15px;
    text-align: center;
    width: 2.6em; 
    font-size: 2.7em;
  }

span.round-1 {
    background: #e67c0b;
    border-radius: 2.8em;
    -moz-border-radius: 2.8em;
    -webkit-border-radius: 2.8em;
    color: #ffffff;
    display: inline-block;
    font-weight: bold;
    line-height: 2.6em;
    margin-right: 15px;
    text-align: center;
    width: 2.6em; 
    font-size: 2.7em;
  }
  
  span.round-2 {
    background: #20a30b;
    border-radius: 2.8em;
    -moz-border-radius: 2.8em;
    -webkit-border-radius: 2.8em;
    color: #ffffff;
    display: inline-block;
    font-weight: bold;
    line-height: 2.6em;
    margin-right: 15px;
    text-align: center;
    width: 2.6em; 
    font-size: 2.7em;
  }
  
  span.round-3 {
    background: #1089c9;
    border-radius: 2.8em;
    -moz-border-radius: 2.8em;
    -webkit-border-radius: 2.8em;
    color: #ffffff;
    display: inline-block;
    font-weight: bold;
    line-height: 2.6em;
    margin-right: 15px;
    text-align: center;
    width: 2.6em; 
    font-size: 2.7em;
  }
  
  span.round-4 {
    background: #7211b8;
    border-radius: 2.8em;
    -moz-border-radius: 2.8em;
    -webkit-border-radius: 2.8em;
    color: #ffffff;
    display: inline-block;
    font-weight: bold;
    line-height: 2.6em;
    margin-right: 15px;
    text-align: center;
    width: 2.6em; 
    font-size: 2.7em;
  }
  
  span.round-5 {
    background: #cc0833;
    border-radius: 2.8em;
    -moz-border-radius: 2.8em;
    -webkit-border-radius: 2.8em;
    color: #ffffff;
    display: inline-block;
    font-weight: bold;
    line-height: 2.6em;
    margin-right: 15px;
    text-align: center;
    width: 2.6em; 
    font-size: 2.7em;
  }

